@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
  }
  
.Map{
background-image: url("./assets/Map.png");
background-repeat: no-repeat;
background-size:contain;
}

.Iphone15{
    background-image: url("./assets/iPhone15Pro.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    }

.Iphone12{
      background-image: url("./assets/iPhone12Pro.png");
      background-repeat: no-repeat;
      background-size:contain;
      background-position:center;
    }
.numBackground{
        background-image: url("./assets/numBackground.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        }
.group18{
  background-image: url("./assets/Group18.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.group10{
  background-image: url("./assets/Group10.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.group11{
  background-image: url("./assets/Group11.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  scale:1.5;
}
.group12{
  background-image: url("./assets/Group12.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.group13{
  background-image: url("./assets/Group13.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.group21{
  background-image: url("./assets/Group21.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.ellipse3{
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.group30{
  background-image: url("./assets/Group30.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.group31{
  background-image: url("./assets/Group31.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.group32{
  background-image: url("./assets/Group32.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}